<div class="has-text-centered">
  <h2 class="title is-1">Rock paper scissors</h2>

  <%= form_with url: "/games" do |f| %>
    <%= f.submit "Potje starten", class: "button is-primary is-large has-text-weight-bold" %>
  <% end %>
</div>
