$card-radius: 1rem;
@import 'bulma/bulma';

.game-window {
  height: 25rem;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.icon-container {
  height: 120px;
  width: 120px;

  @include mobile {
    height: 60px;
    width: 60px;
  }

  @include tablet-only {
    height: 90px;
    width: 90px;
  }
}

.border {
  border: 1px solid black;
}

.border-green {
  border: 1px solid green;
}

.pointer {
  cursor: pointer;
}

.choice-icon:hover {
  color: $info;
  cursor: pointer;
}

.win {
  color: $success;
  margin-right: 1.5rem;
}

.loss {
  color: $danger;
  margin-right: 1.5rem;
}

.result {
  min-height: 3rem;
}
